ion-content {
  background: linear-gradient(to right, #da4453, #89216b);
}

h2 {
  color: #023cfc;
  text-align:center
}

p {
 font-family: Arial, Helvetica, sans-serif;
 text-align: justify;
 color: #ffffff
}